<div [class.hidden]="!show">
   
    <div class="loader-overlay">
        <div *ngIf="show" class="loader-progress"></div>
    </div>
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="loader-image">
                <img src="https://v2.archituno.com/public/logo.png" class="loader-img" alt="">
            </div>
            <div class="loader-text">
                <h2>Archituno</h2>
                <p>Designed For Professionals Like You</p>
            </div>
        </div>
    </div> -->
</div>