.main {
    display: flex;
    width: 100%;
    height: calc(100vh - 65px);
    .sidebar-outer {
        position: relative;
        min-width: 250px;
        width: 250px;
        max-width: 250px;
        /* margin-right: 8px; */
        background: var(--white);
        // border-top-right-radius: 5px;
        .close-icon {
            position: absolute;
            top: 2%;
            right: -8%;
            font-weight: 700;
            font-size: 14px;
            color: #0c1719;
            cursor: pointer;
            width: 40px;
            height: 40px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 20px 0px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
            border-radius: 50px;
            background: white;
            z-index: 10000;
            i {
                color: #0c1719;
            }
        }
        .closed-overlay {
            display: none;
        }
    }
    .content {
        // background: var(--white);
        width: calc(100%);
        // width: calc(100% - 252px);
        border-top-left-radius: 5px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 10px;
    }
    &.sidebar-closed {
        .sidebar-outer {
            min-width: 42px;
            max-width: 42px;
            background-color: #ebebeb;
            .close-icon {
                right: -47%;
                transform: rotate(180deg);
            }
            .closed-overlay {
                position: fixed;
                width: 42px;
                height: 92%;
                top: 60px;
                background: gray;
                z-index: 5;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 768px) {
    .main {
        .sidebar-outer {
            // display: none;
            position: fixed;
            width: 100%;
            max-width: 100%;
            bottom: 0;
            height: 60px;
            z-index: 1000;
        }
        .content {
            padding-bottom: 69px;
            width: 100% !important;
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .main {
        .sidebar-outer {
            // display: none;
            position: fixed;
            width: 100%;
            max-width: 100%;
            bottom: 0;
            height: 60px;
            z-index: 1000;
        }
        .content {
            padding-bottom: 69px;
            width: 100% !important;
        }
    }
}
